<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata-rata : ' + rata_rata }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                rata_rata : 0
            },
            methods : {
                openForm(average) {
                    let data = [];
                    for (let jml = 0; jml < 10; ) {
                        this.a = prompt("Masukan Nilai a");
                        data.push(this.a);
                        jml = parseInt(this.a) + parseInt(jml);
                        this.a = jml;
                    }

                    // console.log(data);
                    this.rata_rata = parseFloat(this.a / data.length);

                }
            }
        })
    </script>
</body>
</html>