<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="search" placeholder="Ketikkan kata kunci">

        <ul v-for="book in filteredItems">
            <li>{{ book.name }}</li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search : '',
                books : [
                    { name  : 'Kalkulus Dasar' },
                    { name  : 'Fisika Dasar' },
                    { name  : 'Aljabar Linier Elementer' },
                    { name  : 'Aljabar Abstrak' },
                    { name  : 'Algoritma Pemrograman' },
                ]
            },

            computed: {
                filteredItems: function() {
                    return this.books.filter(book => {
                        return book.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                    })
                }
            }
        })
    </script>

</body>
</html>