<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please Correct the Following Errors</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label for="">Title:</label><br>
            <input type="text" name="title" ref="title" v-model="title">
            <br>
            <label for="">Description:</label><br>
            <textarea ref="description" name="description"  v-model="description"></textarea>
            <br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title  : '',
                description : '',
                errors : []
            },
            methods: {
                submitForm : function(){
                    this.errors = []

                    if(this.title.length < 5){
                        this.errors.push('Title minimal 5 Karakter')
                        this.$refs.title.focus()
                    }
                    
                    if(this.description.length > 10){
                        this.errors.push('Description tidak boleh dari 10 karakter')
                        this.$refs.description.focus()
                    }

                    if(this.errors.length == 0){
                        alert ('Terimakasih Anda telah mengisi data dengan benar')
                    }
                }
            }
        })
    </script>

</body>
</html>