<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <div class="formInput">
            <!-- <input type="text"  :value="formUser" @input="formUser = $event.target.value"> -->
            <input type="text" v-model="formUser">
            {{ formUser }}
            <button @click="addUser" v-if="!buttonEditStatus">Add</button>  
            <button @click="updateUser" v-if='buttonEditStatus'>Update</button>  
        </div>
            
        <div class="userList">
            <ul v-for="(user , index) in reverseUsers">
                <li :key="index">
                    {{ user.name }} ||
                    <button @click="editUser(index)">Edit</button> ||
                    <button @click="deleteUser(index)">Delete</button>
                </li>
            </ul>    
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data: {
                inputNamaBaru: '',
                users: [
                    { name  : 'Muhammad Ismail' },
                    { name  : 'Firdaus Alam' },
                    { name  : 'Karimun Wagoncar' },
                ],
                formUser : '',
                buttonEditStatus : false,
                idSelected : null
            },
            computed : {
                reverseUsers : {
                    get : function() {
                        return this.users.slice().reverse()
                    },
                    set : function(value) {
                        this.users = value.slice().reverse()
                    }    
                }
                

                
            },
            methods : {
                addUser : function() {
                    this.users.push(
                        { name  : this.formUser }
                    )

                    this.formUser = ''
                },
                editUser : function(id) {
                    this.formUser = this.reverseUsers[id].name
                    this.buttonEditStatus = true
                    this.idSelected = id
                },
                updateUser : function() {
                    this.reverseUsers[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.buttonEditStatus = false
                },
                deleteUser : function(id) {
                    let confirmation = confirm("Apakah Anda yakin?")

                    if(confirmation) {
                        this.reverseUsers = this.reverseUsers.filter( function(item , index){
                            return index != id 
                        })
                    }
                }
                
        //         // delete: function(names) {
        //         // // console.log(this.bin[index]);
        //         // this.names.splice(names, 1);
        //         // }
            }
        })
    </script>
</body>
</html>