<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
   form {
    border: 1px solid #ddd;
    padding:5px;
    width:225px;
    background: #efefef;
   }
   label{
       display: block;
       margin-top: 5px;
   }
   input, textarea, select, option {
       min-width: 200px;
   }
  </style>
 
</head>
<body>
  <div id="app">

  <form v-on:submit.prevent="submitForm()">
    <p v-if="errors.length">
      <b>Please correct the following errors :</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    <label>Name : </label>
    <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
    <label>Address : </label>
    <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address" ></textarea>
    <label>No HP : </label>
    <input type="number" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
    <br><br>

    <div v-if="buttonStatus == 'submit'">
      <input type="submit" value="SUBMIT">  
    </div>
    <div v-else-if="buttonStatus == 'update'">
      <input type="button" @click="updateMember(idEditMember)" value="UPDATE">  
      <input type="button" @click="clearForm" value="CANCEL" style="margin-top:5px">
    </div>
    <div v-else-if="buttonStatus == 'upload'">
      <input type="file" name="photo_profile" ref="photo_profile">
      <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top:5px;">
      <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px;" >
    </div>
    
  </form> 

  <br><br>

  <table border="1">
    <tr v-for="member of members">
        <td>
            <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
        </td>
        <td>
            <b>Name: </b> {{ member.name }} <br>
            <b>Address: </b> {{ member.address }} <br>
            <b>No HP: </b> {{ member.no_hp }} <br>
        </td>
        <td>
            <button @click="editMember(member)">Edit</button>
            <button @click="removeMember(member.id)">Delete</button>
            <button @click="uploadPhoto(member)">Upload Foto</button>
        </td>
    </tr>
  </table>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
       el: '#app',
       data: {
        name : '',
        address : '',
        no_hp : '',
        errors : [],
        members : [],
        buttonStatus : 'submit',
        idEditMember : null,
        idUploadMember: null,
        photoDomain : 'http://demo-api-vue.sanbercloud.com'
       },
       methods: {
        validationForm : function(){
          this.errors = []

          if(this.name.length > 40){
            this.errors.push('Nama tidak boleh dari 40 karakter')
            this.$refs.name.focus()
          }
           
          if(this.address.length > 100){
            this.errors.push('Deskripsi tidak boleh dari 100 karakter')
            this.$refs.address.focus()
          }

          if(this.no_hp.length > 15){
            this.errors.push('No HP terlalu panjang')
            this.$refs.no_hp.focus()
          }
        },

        clearForm : function(){
          this.name = ''
          this.address = ''
          this.no_hp = ''
          this.buttonStatus = 'submit'
          this.idEditMember = null
          this.idUploadMember = null

        },

        submitForm : function(){
          this.validationForm()

          if(this.errors.length === 0){

            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            const config = {
                method : "post",
                url : "http://demo-api-vue.sanbercloud.com/api/member",
                data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
                // console.log(response.data.message)
              }) 
              .catch( (error) => {
                  console.log(error)
              })
          }
        },

        getMembers : function(){

            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
              .then( (response) => {
                  this.members = response.data.members
                  // console.log(response.data.members)
              }) 
              .catch( (error) => {
                  console.log(error)
              })

        },

        removeMember : function(id){
          // console.log(id)

          const config = {
            method : "post",
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params : { _method : "DELETE"}
          }

          axios(config)
            .then( (response) => {
              // console.log(response)
              this.getMembers()
              alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            })
        },

        editMember : function(member){
          // console.log(member)
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'update'
          this.idEditMember = member.id
        },

        updateMember : function(id){
          this.validationForm()

          if(this.errors.length === 0){
            let formData = new FormData()
            formData.append('name' , this.name)
            formData.append('address' , this.address)
            formData.append('no_hp' , this.no_hp)

            let config = {
              method : 'post',
              url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : { _method : 'PUT'},
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getMembers()
                alert(response.data.message)
              })
              .catch( (error) => {
                console.log(error)
              })
          }
        },

        uploadPhoto : function(member){
          // console.log(member)
          this.name = member.name
          this.address = member.address
          this.no_hp = member.no_hp
          this.buttonStatus = 'upload'
          this.idUploadMember = member.id
        },
        
        submitPhoto : function(id){
          // console.log(id)

          let file = this.$refs.photo_profile.files[0]

          let formData = new FormData()
          formData.append('photo_profile' , file)

          let config = {
            method : 'post',
            url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data : formData
          }

          axios(config)
            .then( (response) => {
              this.clearForm()
              this.getMembers()
              alert(response.data.message)
            })
            .catch( (error) => {
              console.log(error)
            })
        }


        
      },
      created(){
          this.getMembers()
      }
   })
  </script>

</body>
</html>
